In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv("C:/Users/exman/datasets/ml-latest-small/movies.csv", usecols=['movieId', 'title'])
ratings_df = pd.read_csv("C:/Users/exman/datasets/ml-latest-small/ratings.csv", usecols=['userId', 'movieId', 'rating'])

In [3]:
print('The ratings dataset has', ratings_df['userId'].nunique(), 'unique users')
print('The ratings dataset has', ratings_df['movieId'].nunique(), 'unique movies')
print('The ratings dataset has', ratings_df['rating'].nunique(), 'unique ratings')
print('The unique ratings are', sorted(ratings_df['rating'].unique()))

The ratings dataset has 610 unique users
The ratings dataset has 9724 unique movies
The ratings dataset has 10 unique ratings
The unique ratings are [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [4]:
df = pd.merge(ratings_df, movies_df, on='movieId', how='inner')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int64
 1   movieId  100836 non-null  int64
 2   rating   100836 non-null  float64
 3   title    100836 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 3.8+ MB

In [5]:
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [6]:
agg_ratings = df.groupby('movieId').agg(mean_rating = ('rating', 'mean'), number_of_ratings = ('rating', 'count')).reset_index()
agg_ratings

      movieId  mean_rating  number_of_ratings
0           1     3.920930                215
1           2     3.431818                110
2           3     3.259615                 52
3           4     2.357143                  7
4           5     3.071429                 49
...       ...          ...                ...
9719   193581     4.000000                  1
9720   193583     3.500000                  1
9721   193585     3.500000                  1
9722   193587     3.500000                  1
9723   193609     4.000000                  1

[9724 rows x 3 columns]

In [7]:
agg_ratings_GT40 = agg_ratings[agg_ratings['number_of_ratings'] > 40]
agg_ratings_GT40

      movieId  mean_rating  number_of_ratings
0           1     3.920930                215
1           2     3.431818                110
2           3     3.259615                 52
4           5     3.071429                 49
5           6     3.946078                102
...       ...          ...                ...
8663   122882     3.819149                 47
8665   122886     3.853659                 41
8673   122904     3.833333                 54
8861   134130     4.000000                 48
8882   134853     3.813953                 43

[616 rows x 3 columns]

In [8]:
df_GT40 = pd.merge(df, agg_ratings_GT40[['movieId']], on='movieId', how='inner')
df_GT40.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48748 entries, 0 to 48747
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   48748 non-null  int64
 1   movieId  48748 non-null  int64
 2   rating   48748 non-null  float64
 3   title    48748 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.9+ MB

In [9]:
df_GT40

       userId  movieId  rating                title
0           1        1     4.0     Toy Story (1995)
1           5        1     4.0     Toy Story (1995)
2           7        1     4.5     Toy Story (1995)
3          15        1     2.5     Toy Story (1995)
4          17        1     4.5     Toy Story (1995)
...       ...      ...     ...                  ...
48743     590    52722     3.0  Spider-Man 3 (2007)
48744     596    52722     2.5  Spider-Man 3 (2007)
48745     599    52722     2.5  Spider-Man 3 (2007)
48746     606    52722     2.0  Spider-Man 3 (2007)
48747     610    52722     3.5  Spider-Man 3 (2007)

[48748 rows x 4 columns]

In [10]:
print('The ratings dataset has', df_GT40['userId'].nunique(), 'unique users')
print('The ratings dataset has', df_GT40['movieId'].nunique(), 'unique movies')
print('The ratings dataset has', df_GT40['rating'].nunique(), 'unique ratings')
print('The unique ratings are', sorted(df_GT40['rating'].unique()))

The ratings dataset has 608 unique users
The ratings dataset has 616 unique movies
The ratings dataset has 10 unique ratings
The unique ratings are [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [11]:
top_films = pd.merge(agg_ratings_GT40, movies_df[['movieId', 'title']], on='movieId', how='inner').sort_values('number_of_ratings', ascending=False).reset_index(drop=True)
top_films.to_csv('top_films.csv')
top_films.head(50)

,movieId,mean_rating,number_of_ratings,title
0,356,4.164134,329,Forrest Gump (1994)
1,318,4.429022,317,"Shawshank Redemption, The (1994)"
2,296,4.197068,307,Pulp Fiction (1994)
3,593,4.161290,279,"Silence of the Lambs, The (1991)"
4,2571,4.192446,278,"Matrix, The (1999)"
5,260,4.231076,251,Star Wars: Episode IV - A New Hope (1977)
6,480,3.750000,238,Jurassic Park (1993)
7,110,4.031646,237,Braveheart (1995)
8,589,3.970982,224,Terminator 2: Judgment Day (1991)
9,527,4.225000,220,Schindler's List (1993)
10,2959,4.272936,218,Fight Club (1999)
11,1,3.920930,215,Toy Story (1995)
12,1196,4.215640,211,Star Wars: Episode V - The Empire Strikes Back...
13,2858,4.056373,204,American Beauty (1999)
14,50,4.237745,204,"Usual Suspects, The (1995)"
15,47,3.975369,203,Seven (a.k.a. Se7en) (1995)
16,780,3.445545,202,Independence Day (a.k.a. ID4) (1996)
17,150,3.845771,201,Apollo 13 (1995)
18,1198,4.207500,200,Raiders of the Lost Ark (Indiana Jones and the...
19,4993,4.106061,198,"Lord of the Rings: The Fellowship of the Ring,..."
20,1210,4.137755,196,Star Wars: Episode VI - Return of the Jedi (1983)
21,858,4.289062,192,"Godfather, The (1972)"
22,457,3.992105,190,"Fugitive, The (1993)"
23,592,3.428571,189,Batman (1989)
24,2028,4.146277,188,Saving Private Ryan (1998)
25,5952,4.021277,188,"Lord of the Rings: The Two Towers, The (2002)"
26,7153,4.118919,185,"Lord of the Rings: The Return of the King, The..."
27,588,3.792350,183,Aladdin (1992)
28,608,4.116022,181,Fargo (1996)
29,2762,3.893855,179,"Sixth Sense, The (1999)"
30,380,3.497191,178,True Lies (1994)
31,32,3.983051,177,Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
32,364,3.941860,172,"Lion King, The (1994)"
33,377,3.529240,171,Speed (1994)
34,1270,4.038012,171,Back to the Future (1985)
35,3578,3.938235,170,Gladiator (2000)
36,4306,3.867647,170,Shrek (2001)
37,1580,3.487879,165,Men in Black (a.k.a. MIB) (1997)
38,590,3.835366,164,Dances with Wolves (1990)
39,648,3.537037,162,Mission: Impossible (1996)
40,344,3.040373,161,Ace Ventura: Pet Detective (1994)
41,4226,4.122642,159,Memento (2000)
42,367,3.184713,157,"Mask, The (1994)"
43,6539,3.778523,149,Pirates of the Caribbean: The Curse of the Bla...
44,58559,4.238255,149,"Dark Knight, The (2008)"
45,1214,3.969178,146,Alien (1979)
46,595,3.770548,146,Beauty and the Beast (1991)
47,1036,3.862069,145,Die Hard (1988)
48,500,3.388889,144,Mrs. Doubtfire (1993)
49,165,3.555556,144,Die Hard: With a Vengeance (1995)

In [12]:
matrix = df_GT40.pivot_table(index='userId', columns='title', values='rating')
matrix

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),...,"Wolf of Wall Street, The (2013)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.5,3.5,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,3.0,3.5,5.0,NaN,NaN,...,NaN,3.5,4.0,NaN,4.0,4.0,NaN,NaN,NaN,3.0
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,3.5,NaN,NaN,NaN,NaN,4.5,5.0,4.0,4.5,3.5,...,4.5,NaN,3.5,4.0,3.0,4.0,NaN,NaN,3.5,4.0

In [13]:
matrix_norm = matrix.subtract(matrix.mean(axis=1), axis='rows')
matrix_norm.to_csv('pivot_table_normalized.csv')
matrix_norm

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),...,"Wolf of Wall Street, The (2013)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.626866,NaN,NaN,NaN,NaN,0.626866,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.138889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.861111,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-1.250000,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,1.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,1.329392,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.170608,-0.170608,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.761062,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,-0.346966,0.153034,1.653034,NaN,NaN,...,NaN,0.153034,0.653034,NaN,0.653034,0.653034,NaN,NaN,NaN,-0.346966
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,-0.633779,NaN,NaN,NaN,NaN,0.366221,0.866221,-0.133779,0.366221,-0.633779,...,0.366221,NaN,-0.633779,-0.133779,-1.133779,-0.133779,NaN,NaN,-0.633779,-0.133779

In [14]:
import pandas as pd
import numpy as np

In [15]:
matrix_norm = pd.read_csv("pivot_table_normalized.csv", index_col=[0])
matrix_norm

,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),...,"Wolf of Wall Street, The (2013)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.626866,NaN,NaN,NaN,NaN,0.626866,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.138889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.861111,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-1.250000,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,1.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,1.329392,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.170608,-0.170608,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.761062,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,-0.346966,0.153034,1.653034,NaN,NaN,...,NaN,0.153034,0.653034,NaN,0.653034,0.653034,NaN,NaN,NaN,-0.346966
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,-0.633779,NaN,NaN,NaN,NaN,0.366221,0.866221,-0.133779,0.366221,-0.633779,...,0.366221,NaN,-0.633779,-0.133779,-1.133779,-0.133779,NaN,NaN,-0.633779,-0.133779

In [16]:
films_names = list(matrix_norm.columns)
films_names

['(500) Days of Summer (2009)',
 '10 Things I Hate About You (1999)',
 '101 Dalmatians (1996)',
 '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
 '12 Angry Men (1957)',
 '2001: A Space Odyssey (1968)',
 '28 Days Later (2002)',
 '300 (2007)',
 '40-Year-Old Virgin, The (2005)',
 '50 First Dates (2004)',
 '8 Mile (2002)',
 'A.I. Artificial Intelligence (2001)',
 'About a Boy (2002)',
 'Abyss, The (1989)',
 'Ace Ventura: Pet Detective (1994)',
 'Ace Ventura: When Nature Calls (1995)',
 'Adaptation (2002)',
 'Addams Family Values (1993)',
 'Air Force One (1997)',
 'Airplane! (1980)',
 'Aladdin (1992)',
 'Alien (1979)',
 'Alien: Resurrection (1997)',
 'Aliens (1986)',
 'AlienÂ³ (a.k.a. Alien 3) (1992)',
 'Almost Famous (2000)',
 'Amadeus (1984)',
 "Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) (2001)",
 'American Beauty (1999)',
 'American Graffiti (1973)',
 'American History X (1998)',
 'American Pie (1999)',
 'American Pie 2 (2001)',
 'American President, The (1995)',
 'American Psycho (2000)',
 'Analyze This (1999)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'Animal House (1978)',
 'Annie Hall (1977)',
 'Antz (1998)',
 'Apocalypse Now (1979)',
 'Apollo 13 (1995)',
 'Arachnophobia (1990)',
 'Aristocats, The (1970)',
 'Armageddon (1998)',
 'Army of Darkness (1993)',
 'As Good as It Gets (1997)',
 'Austin Powers in Goldmember (2002)',
 'Austin Powers: International Man of Mystery (1997)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'Avatar (2009)',
 'Avengers, The (2012)',
 'Babe (1995)',
 'Back to the Future (1985)',
 'Back to the Future Part II (1989)',
 'Back to the Future Part III (1990)',
 'Bad Boys (1995)',
 'Basic Instinct (1992)',
 'Batman & Robin (1997)',
 'Batman (1989)',
 'Batman Begins (2005)',
 'Batman Forever (1995)',
 'Batman Returns (1992)',
 'Beautiful Mind, A (2001)',
 'Beauty and the Beast (1991)',
 'Beetlejuice (1988)',
 'Being John Malkovich (1999)',
 'Best in Show (2000)',
 'Beverly Hills Cop (1984)',
 'Beverly Hills Cop III (1994)',
 'Big (1988)',
 'Big Daddy (1999)',
 'Big Fish (2003)',
 'Big Hero 6 (2014)',
 'Big Lebowski, The (1998)',
 "Bill & Ted's Excellent Adventure (1989)",
 'Billy Madison (1995)',
 'Birdcage, The (1996)',
 'Birds, The (1963)',
 'Black Hawk Down (2001)',
 'Black Swan (2010)',
 'Blade (1998)',
 'Blade Runner (1982)',
 'Blair Witch Project, The (1999)',
 'Blazing Saddles (1974)',
 'Blood Diamond (2006)',
 'Blow (2001)',
 'Blue Velvet (1986)',
 'Blues Brothers, The (1980)',
 'Boondock Saints, The (2000)',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
 'Bourne Identity, The (2002)',
 'Bourne Supremacy, The (2004)',
 'Bourne Ultimatum, The (2007)',
 'Bowling for Columbine (2002)',
 'Braveheart (1995)',
 'Brazil (1985)',
 'Breakfast Club, The (1985)',
 'Bridge on the River Kwai, The (1957)',
 "Bridget Jones's Diary (2001)",
 'Broken Arrow (1996)',
 'Bruce Almighty (2003)',
 "Bug's Life, A (1998)",
 'Butch Cassidy and the Sundance Kid (1969)',
 'Cable Guy, The (1996)',
 'Caddyshack (1980)',
 "Carlito's Way (1993)",
 'Cars (2006)',
 'Casablanca (1942)',
 'Casino (1995)',
 'Casino Royale (2006)',
 'Casper (1995)',
 'Cast Away (2000)',
 'Catch Me If You Can (2002)',
 'Cell, The (2000)',
 'Charlie and the Chocolate Factory (2005)',
 "Charlie's Angels (2000)",
 'Chasing Amy (1997)',
 'Chicago (2002)',
 'Chicken Run (2000)',
 'Children of Men (2006)',
 'Chinatown (1974)',
 'Chocolat (2000)',
 'Christmas Story, A (1983)',
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
 'Cinderella (1950)',
 'Citizen Kane (1941)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'City of God (Cidade de Deus) (2002)',
 'Clear and Present Danger (1994)',
 'Clerks (1994)',
 'Client, The (1994)',
 'Cliffhanger (1993)',
 'Clockwork Orange, A (1971)',
 'Close Encounters of the Third Kind (1977)',
 'Clueless (1995)',
 'Cocoon (1985)',
 'Collateral (2004)',
 'Con Air (1997)',
 'Coneheads (1993)',
 'Congo (1995)',
 'Conspiracy Theory (1997)',
 'Contact (1997)',
 'Cool Hand Luke (1967)',
 'Corpse Bride (2005)',
 'Crash (2004)',
 'Crimson Tide (1995)',
 'Crocodile Dundee (1986)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Crow, The (1994)',
 'Crying Game, The (1992)',
 'Da Vinci Code, The (2006)',
 'Dances with Wolves (1990)',
 'Dark City (1998)',
 'Dark Knight Rises, The (2012)',
 'Dark Knight, The (2008)',
 'Dave (1993)',
 'Day After Tomorrow, The (2004)',
 'Dazed and Confused (1993)',
 'Dead Man Walking (1995)',
 'Dead Poets Society (1989)',
 'Deadpool (2016)',
 'Deep Impact (1998)',
 'Deer Hunter, The (1978)',
 'Demolition Man (1993)',
 'Departed, The (2006)',
 'Desperado (1995)',
 'Die Hard (1988)',
 'Die Hard 2 (1990)',
 'Die Hard: With a Vengeance (1995)',
 'Dirty Dancing (1987)',
 'Disclosure (1994)',
 'District 9 (2009)',
 'Django Unchained (2012)',
 'Dogma (1999)',
 'Donnie Brasco (1997)',
 'Donnie Darko (2001)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Dragonheart (1996)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'E.T. the Extra-Terrestrial (1982)',
 'Ed Wood (1994)',
 'Edge of Tomorrow (2014)',
 'Edward Scissorhands (1990)',
 'Election (1999)',
 'Enemy of the State (1998)',
 'English Patient, The (1996)',
 'Entrapment (1999)',
 'Equilibrium (2002)',
 'Eraser (1996)',
 'Erin Brockovich (2000)',
 'Escape from L.A. (1996)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Executive Decision (1996)',
 'Exorcist, The (1973)',
 'Eyes Wide Shut (1999)',
 'Face/Off (1997)',
 'Fantasia (1940)',
 'Fargo (1996)',
 'Fast Times at Ridgemont High (1982)',
 'Fast and the Furious, The (2001)',
 'Father of the Bride Part II (1995)',
 'Fear and Loathing in Las Vegas (1998)',
 "Ferris Bueller's Day Off (1986)",
 'Few Good Men, A (1992)',
 'Field of Dreams (1989)',
 'Fifth Element, The (1997)',
 'Fight Club (1999)',
 'Finding Nemo (2003)',
 'Firm, The (1993)',
 'First Knight (1995)',
 'Fish Called Wanda, A (1988)',
 'Flintstones, The (1994)',
 'Fly, The (1986)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'French Kiss (1995)',
 'From Dusk Till Dawn (1996)',
 'Fugitive, The (1993)',
 'Full Metal Jacket (1987)',
 'Full Monty, The (1997)',
 'Galaxy Quest (1999)',
 'Game, The (1997)',
 'Gangs of New York (2002)',
 'Garden State (2004)',
 'Gattaca (1997)',
 'Get Shorty (1995)',
 'Ghost (1990)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Ghostbusters II (1989)',
 'Girl with the Dragon Tattoo, The (2011)',
 'Gladiator (2000)',
 'Glory (1989)',
 'Godfather, The (1972)',
 'Godfather: Part II, The (1974)',
 'Godfather: Part III, The (1990)',
 'GoldenEye (1995)',
 'Goldfinger (1964)',
 'Gone in 60 Seconds (2000)',
 'Gone with the Wind (1939)',
 'Good Morning, Vietnam (1987)',
 'Good Will Hunting (1997)',
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
 'Goodfellas (1990)',
 'Goonies, The (1985)',
 'Graduate, The (1967)',
 'Gran Torino (2008)',
 'Grand Budapest Hotel, The (2014)',
 'Grease (1978)',
 'Great Escape, The (1963)',
 'Green Mile, The (1999)',
 'Gremlins (1984)',
 'Grosse Pointe Blank (1997)',
 'Groundhog Day (1993)',
 'Grumpier Old Men (1995)',
 'Guardians of the Galaxy (2014)',
 'Hangover, The (2009)',
 'Happy Gilmore (1996)',
 'Harry Potter and the Chamber of Secrets (2002)',
 'Harry Potter and the Deathly Hallows: Part 1 (2010)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 'Harry Potter and the Goblet of Fire (2005)',
 'Harry Potter and the Half-Blood Prince (2009)',
 'Harry Potter and the Order of the Phoenix (2007)',
 'Harry Potter and the Prisoner of Azkaban (2004)',
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 'Heat (1995)',
 'Heathers (1989)',
 'Hellboy (2004)',
 'High Fidelity (2000)',
 'Highlander (1986)',
 'Hitch (2005)',
 "Hitchhiker's Guide to the Galaxy, The (2005)",
 'Home Alone (1990)',
 'Honey, I Shrunk the Kids (1989)',
 'Hook (1991)',
 'Hot Fuzz (2007)',
 'Hot Shots! Part Deux (1993)',
 'Hotel Rwanda (2004)',
 'How to Train Your Dragon (2010)',
 'Hunchback of Notre Dame, The (1996)',
 'Hunt for Red October, The (1990)',
 'I Am Legend (2007)',
 'I, Robot (2004)',
 'I.Q. (1994)',
 'Ice Age (2002)',
 'Illusionist, The (2006)',
 'In Bruges (2008)',
 'In the Line of Fire (1993)',
 'Inception (2010)',
 'Incredibles, The (2004)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Indiana Jones and the Last Crusade (1989)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Inglourious Basterds (2009)',
 'Inside Out (2015)',
 'Interstellar (2014)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Into the Wild (2007)',
 'Iron Man (2008)',
 'Iron Man 2 (2010)',
 "It's a Wonderful Life (1946)",
 'Italian Job, The (2003)',
 'Jackie Brown (1997)',
 'James and the Giant Peach (1996)',
 'Jaws (1975)',
 'Jerry Maguire (1996)',
 'Johnny Mnemonic (1995)',
 'Judge Dredd (1995)',
 'Jumanji (1995)',
 'Jungle Book, The (1967)',
 'Juno (2007)',
 'Jurassic Park (1993)',
 'Kick-Ass (2010)',
 'Kill Bill: Vol. 1 (2003)',
 'Kill Bill: Vol. 2 (2004)',
 "King's Speech, The (2010)",
 'Kingpin (1996)',
 "Knight's Tale, A (2001)",
 'Knocked Up (2007)',
 'Kung Fu Panda (2008)',
 'L.A. Confidential (1997)',
 'Labyrinth (1986)',
 'Lady and the Tramp (1955)',
 'Last Action Hero (1993)',
 'Last Samurai, The (2003)',
 'Lawrence of Arabia (1962)',
 'League of Their Own, A (1992)',
 'Leaving Las Vegas (1995)',
 'Legally Blonde (2001)',
 'Legends of the Fall (1994)',
 'Lethal Weapon (1987)',
 'Lethal Weapon 2 (1989)',
 'Lethal Weapon 3 (1992)',
 'Liar Liar (1997)',
 'Life Is Beautiful (La Vita Ã¨ bella) (1997)',
 'Lion King, The (1994)',
 'Little Mermaid, The (1989)',
 'Little Miss Sunshine (2006)',
 'Little Women (1994)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Lost World: Jurassic Park, The (1997)',
 'Lost in Translation (2003)',
 'Love Actually (2003)',
 'LÃ©on: The Professional (a.k.a. The Professional) (LÃ©on) (1994)',
 'M*A*S*H (a.k.a. MASH) (1970)',
 'Mad Max: Fury Road (2015)',
 'Magnolia (1999)',
 'Maltese Falcon, The (1941)',
 'Mars Attacks! (1996)',
 'Mary Poppins (1964)',
 'Mask of Zorro, The (1998)',
 'Mask, The (1994)',
 'Matrix Reloaded, The (2003)',
 'Matrix Revolutions, The (2003)',
 'Matrix, The (1999)',
 'Maverick (1994)',
 'Me, Myself & Irene (2000)',
 'Meet the Parents (2000)',
 'Memento (2000)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 'Million Dollar Baby (2004)',
 'Minority Report (2002)',
 'Misery (1990)',
 'Miss Congeniality (2000)',
 'Mission: Impossible (1996)',
 'Mission: Impossible II (2000)',
 'Monsters, Inc. (2001)',
 'Monty Python and the Holy Grail (1975)',
 "Monty Python's Life of Brian (1979)",
 'Mortal Kombat (1995)',
 'Moulin Rouge (2001)',
 'Mr. & Mrs. Smith (2005)',
 "Mr. Holland's Opus (1995)",
 'Mrs. Doubtfire (1993)',
 'Much Ado About Nothing (1993)',
 'Mulan (1998)',
 'Mulholland Drive (2001)',
 'Mummy Returns, The (2001)',
 'Mummy, The (1999)',
 'My Big Fat Greek Wedding (2002)',
 'My Cousin Vinny (1992)',
 'Mystic River (2003)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Naked Gun: From the Files of Police Squad!, The (1988)',
 'Natural Born Killers (1994)',
 'Net, The (1995)',
 'NeverEnding Story, The (1984)',
 'Nightmare Before Christmas, The (1993)',
 'Nine Months (1995)',
 'No Country for Old Men (2007)',
 'North by Northwest (1959)',
 'Notting Hill (1999)',
 'Nutty Professor, The (1996)',
 'O Brother, Where Art Thou? (2000)',
 "Ocean's Eleven (2001)",
 "Ocean's Twelve (2004)",
 'Office Space (1999)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'Others, The (2001)',
 'Outbreak (1995)',
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
 'Patriot, The (2000)',
 'Payback (1999)',
 'Pearl Harbor (2001)',
 'Perfect Storm, The (2000)',
 'Peter Pan (1953)',
 'Phenomenon (1996)',
 'Philadelphia (1993)',
 'Pi (1998)',
 'Pianist, The (2002)',
 'Piano, The (1993)',
 'Pinocchio (1940)',
 "Pirates of the Caribbean: At World's End (2007)",
 "Pirates of the Caribbean: Dead Man's Chest (2006)",
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 'Planet of the Apes (1968)',
 'Planet of the Apes (2001)',
 'Platoon (1986)',
 'Pleasantville (1998)',
 'Pocahontas (1995)',
 'Poltergeist (1982)',
 'Predator (1987)',
 'Prestige, The (2006)',
 'Pretty Woman (1990)',
 'Princess Bride, The (1987)',
 'Princess Mononoke (Mononoke-hime) (1997)',
 'Psycho (1960)',
 'Pulp Fiction (1994)',
 'Pursuit of Happyness, The (2006)',
 'Quiz Show (1994)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Rain Man (1988)',
 'Raising Arizona (1987)',
 'Ratatouille (2007)',
 'Rear Window (1954)',
 'Remember the Titans (2000)',
 'Requiem for a Dream (2000)',
 'Reservoir Dogs (1992)',
 'Ring, The (2002)',
 'Risky Business (1983)',
 'Road Trip (2000)',
 'Road to Perdition (2002)',
 'Rob Roy (1995)',
 'Robin Hood: Men in Tights (1993)',
 'RoboCop (1987)',
 'Rock, The (1996)',
 'Rocky (1976)',
 'Rocky Horror Picture Show, The (1975)',
 'Romancing the Stone (1984)',
 'Ronin (1998)',
 'Royal Tenenbaums, The (2001)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Run Lola Run (Lola rennt) (1998)',
 'Runaway Bride (1999)',
 'Rush Hour (1998)',
 'Rushmore (1998)',
 'Sabrina (1995)',
 'Santa Clause, The (1994)',
 'Saving Private Ryan (1998)',
 'Scarface (1983)',
 'Scary Movie (2000)',
 "Schindler's List (1993)",
 'School of Rock (2003)',
 'Scott Pilgrim vs. the World (2010)',
 'Scream (1996)',
 'Sense and Sensibility (1995)',
 'Serenity (2005)',
 'Seven (a.k.a. Se7en) (1995)',
 'Seven Samurai (Shichinin no samurai) (1954)',
 'Shakespeare in Love (1998)',
 'Shanghai Noon (2000)',
 'Shaun of the Dead (2004)',
 'Shawshank Redemption, The (1994)',
 'Sherlock Holmes (2009)',
 'Shining, The (1980)',
 'Shrek (2001)',
 'Shrek 2 (2004)',
 'Shutter Island (2010)',
 'Signs (2002)',
 'Silence of the Lambs, The (1991)',
 'Simpsons Movie, The (2007)',
 'Sin City (2005)',
 "Singin' in the Rain (1952)",
 'Sixteen Candles (1984)',
 'Sixth Sense, The (1999)',
 'Skyfall (2012)',
 'Sleepless in Seattle (1993)',
 'Sleepy Hollow (1999)',
 'Sling Blade (1996)',
 'Slumdog Millionaire (2008)',
 'Snatch (2000)',
 'Sneakers (1992)',
 'Snow White and the Seven Dwarfs (1937)',
 'So I Married an Axe Murderer (1993)',
 'Social Network, The (2010)',
 'Some Like It Hot (1959)',
 'Sound of Music, The (1965)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Space Jam (1996)',
 'Spaceballs (1987)',
 'Species (1995)',
 'Speed (1994)',
 'Spider-Man (2002)',
 'Spider-Man 2 (2004)',
 'Spider-Man 3 (2007)',
 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
 'Splash (1984)',
 'Stand by Me (1986)',
 'Star Trek (2009)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Star Trek III: The Search for Spock (1984)',
 'Star Trek IV: The Voyage Home (1986)',
 'Star Trek VI: The Undiscovered Country (1991)',
 'Star Trek: First Contact (1996)',
 'Star Trek: Generations (1994)',
 'Star Trek: The Motion Picture (1979)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Star Wars: Episode VII - The Force Awakens (2015)',
 'Stargate (1994)',
 'Starship Troopers (1997)',
 'Sting, The (1973)',
 'Stranger than Fiction (2006)',
 'Striptease (1996)',
 'Super Size Me (2004)',
 'Superbad (2007)',
 'Superman (1978)',
 'Superman II (1980)',
 'Taken (2008)',
 'Talented Mr. Ripley, The (1999)',
 'Taxi Driver (1976)',
 'Terminal, The (2004)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator 3: Rise of the Machines (2003)',
 'Terminator, The (1984)',
 'That Thing You Do! (1996)',
 'The Butterfly Effect (2004)',
 "The Devil's Advocate (1997)",
 'The Hunger Games (2012)',
 'The Imitation Game (2014)',
 'The Martian (2015)',
 'Thelma & Louise (1991)',
 "There's Something About Mary (1998)",
 'Thing, The (1982)',
 'This Is Spinal Tap (1984)',
 'Thomas Crown Affair, The (1999)',
 'Three Kings (1999)',
 'Three Musketeers, The (1993)',
 'Time Bandits (1981)',
 'Tin Cup (1996)',
 'Titanic (1997)',
 'To Kill a Mockingbird (1962)',
 'Tombstone (1993)',
 'Tommy Boy (1995)',
 'Tomorrow Never Dies (1997)',
 'Top Gun (1986)',
 'Total Recall (1990)',
 'Toy Story (1995)',
 'Toy Story 2 (1999)',
 'Toy Story 3 (2010)',
 'Traffic (2000)',
 'Training Day (2001)',
 'Trainspotting (1996)',
 'Tron (1982)',
 'Troy (2004)',
 'True Lies (1994)',
 'True Romance (1993)',
 'Truman Show, The (1998)',
 'Truth About Cats & Dogs, The (1996)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Twister (1996)',
 'Unbreakable (2000)',
 'Unforgiven (1992)',
 'Untouchables, The (1987)',
 'Up (2009)',
 'Usual Suspects, The (1995)',
 'V for Vendetta (2006)',
 'Vanilla Sky (2001)',
 'Vertigo (1958)',
 'WALLÂ·E (2008)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'War of the Worlds (2005)',
 'Watchmen (2009)',
 'Waterworld (1995)',
 "Wayne's World (1992)",
 'Wedding Crashers (2005)',
 'Wedding Singer, The (1998)',
 'What Women Want (2000)',
 "What's Eating Gilbert Grape (1993)",
 'When Harry Met Sally... (1989)',
 'While You Were Sleeping (1995)',
 'Who Framed Roger Rabbit? (1988)',
 'Whole Nine Yards, The (2000)',
 'Wild Wild West (1999)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Wizard of Oz, The (1939)',
 'Wolf of Wall Street, The (2013)',
 'X-Files: Fight the Future, The (1998)',
 'X-Men (2000)',
 'X-Men: First Class (2011)',
 'X-Men: The Last Stand (2006)',
 'X2: X-Men United (2003)',
 "You've Got Mail (1998)",
 'Young Frankenstein (1974)',
 'Zombieland (2009)',
 'Zoolander (2001)']

In [17]:
user_vector_dictionary = {'(500) Days of Summer (2009)': 5.0, '101 Dalmatians (1996)': 3.5}
user_id = matrix_norm.index.max() + 1

user_vector = pd.DataFrame(np.nan, index=[0], columns=matrix_norm.columns)
user_vector = user_vector.transpose().index.map(user_vector_dictionary)
user_vector = pd.DataFrame(user_vector).transpose()
user_vector.index = [user_id]
user_vector.columns = matrix_norm.columns
user_vector

,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),...,"Wolf of Wall Street, The (2013)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
611,5.0,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
user_vector_norm = user_vector.subtract(user_vector.mean(axis=1), axis='rows')
user_vector_norm

,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),...,"Wolf of Wall Street, The (2013)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
611,0.75,NaN,-0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
matrix_norm = pd.concat([matrix_norm, user_vector_norm])
matrix_norm

,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),...,"Wolf of Wall Street, The (2013)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.626866,NaN,NaN,NaN,NaN,0.626866,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.138889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.861111,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-1.25,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,1.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.761062,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,-0.346966,0.153034,1.653034,NaN,NaN,...,NaN,0.153034,0.653034,NaN,0.653034,0.653034,NaN,NaN,NaN,-0.346966
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,-0.633779,NaN,NaN,NaN,NaN,0.366221,0.866221,-0.133779,0.366221,-0.633779,...,0.366221,NaN,-0.633779,-0.133779,-1.133779,-0.133779,NaN,NaN,-0.633779,-0.133779
611,0.750000,NaN,-0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
matrix_norm.to_csv('pivot_table_normalized.csv')

In [21]:
user_similarity = matrix_norm.T.corr()
user_similarity.head()

,1,2,3,4,5,6,7,8,9,10,...,602,603,604,605,606,607,608,609,610,611
1,1.000000,NaN,0.0,0.189059,0.268749,-0.313020,-0.118773,0.469668,0.918559,-0.037987,...,0.044987,-0.034864,-0.407556,-0.142637,0.082326,0.106843,0.213186,-0.175412,-0.024520,NaN
2,NaN,1.0,NaN,NaN,NaN,NaN,-0.991241,NaN,NaN,0.037796,...,NaN,-1.000000,NaN,NaN,0.583333,NaN,-0.125000,NaN,0.694735,NaN
3,0.000000,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.294174,NaN,NaN,-0.831704,-0.333333,-0.441248,NaN,0.164122,NaN
4,0.189059,NaN,NaN,1.000000,-0.398485,0.359738,0.540406,0.117851,NaN,0.485794,...,0.486818,0.089990,-0.148544,0.460566,0.092160,0.101666,-0.203607,NaN,-0.055617,NaN
5,0.268749,NaN,NaN,-0.398485,1.000000,0.036846,0.328889,0.028347,NaN,-0.777714,...,0.174285,0.215664,0.087482,-0.364156,0.295459,0.231080,0.005242,0.384111,0.040582,NaN

In [22]:
user_similarity.drop(index=user_id, inplace=True)
user_similarity

,1,2,3,4,5,6,7,8,9,10,...,602,603,604,605,606,607,608,609,610,611
1,1.000000,NaN,0.000000,0.189059,0.268749,-0.313020,-0.118773,0.469668,0.918559,-0.037987,...,0.044987,-0.034864,-0.407556,-0.142637,0.082326,0.106843,0.213186,-0.175412,-0.024520,NaN
2,NaN,1.000000,NaN,NaN,NaN,NaN,-0.991241,NaN,NaN,0.037796,...,NaN,-1.000000,NaN,NaN,0.583333,NaN,-0.125000,NaN,0.694735,NaN
3,0.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.294174,NaN,NaN,-0.831704,-0.333333,-0.441248,NaN,0.164122,NaN
4,0.189059,NaN,NaN,1.000000,-0.398485,0.359738,0.540406,0.117851,NaN,0.485794,...,0.486818,0.089990,-0.148544,0.460566,0.092160,0.101666,-0.203607,NaN,-0.055617,NaN
5,0.268749,NaN,NaN,-0.398485,1.000000,0.036846,0.328889,0.028347,NaN,-0.777714,...,0.174285,0.215664,0.087482,-0.364156,0.295459,0.231080,0.005242,0.384111,0.040582,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.082326,0.583333,-0.831704,0.092160,0.295459,-0.250393,0.146169,0.277241,0.266534,-0.371705,...,0.256465,0.312162,0.739957,0.135500,1.000000,0.020921,0.237897,0.654289,0.352711,NaN
607,0.106843,NaN,-0.333333,0.101666,0.231080,0.428048,0.402792,0.251280,NaN,-0.241121,...,0.233237,0.187283,-0.021810,-0.267339,0.020921,1.000000,0.140465,0.190117,0.037454,NaN
608,0.213186,-0.125000,-0.441248,-0.203607,0.005242,-0.048990,-0.010131,0.434423,-0.033928,-0.560574,...,0.357980,0.111669,0.099892,-0.030778,0.237897,0.140465,1.000000,0.523692,0.116122,NaN
609,-0.175412,NaN,NaN,NaN,0.384111,0.193649,0.420288,0.141860,NaN,NaN,...,0.188512,0.287348,0.656488,-0.550000,0.654289,0.190117,0.523692,1.000000,-0.521773,NaN
610,-0.024520,0.694735,0.164122,-0.055617,0.040582,-0.038429,0.307159,0.167931,0.586816,-0.190421,...,0.166539,0.255577,0.324484,0.400647,0.352711,0.037454,0.116122,-0.521773,1.000000,NaN

In [23]:
n = 10
user_similarity_threshold = 0.3
similar_users = user_similarity[user_similarity[user_id] > user_similarity_threshold][user_id].sort_values(ascending=False)[:n]
similar_users

68     1.0
92     1.0
177    1.0
213    1.0
318    1.0
483    1.0
249    1.0
477    1.0
Name: 611, dtype: float64

In [24]:
user_id_watched = matrix_norm[matrix_norm.index == user_id].dropna(axis=1, how='all')
user_id_watched

     (500) Days of Summer (2009)  101 Dalmatians (1996)
611                         0.75                  -0.75

In [25]:
similar_user_movies = matrix_norm[matrix_norm.index.isin(similar_users.index)].dropna(axis=1, how='all')
similar_user_movies

,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),...,"Wolf of Wall Street, The (2013)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
68,0.667647,1.167647,-0.832353,-0.332353,NaN,-1.832353,1.167647,0.667647,1.167647,-0.832353,...,-0.332353,NaN,1.167647,1.167647,-1.332353,1.167647,0.167647,0.667647,1.667647,0.667647
92,-0.142857,0.857143,-1.142857,-0.642857,NaN,NaN,NaN,0.357143,0.357143,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,-0.052083,0.947917,-1.052083,1.447917,0.947917,-2.052083,NaN,-1.552083,-2.052083,0.447917,...,NaN,NaN,0.947917,0.447917,0.447917,-0.052083,-0.552083,NaN,1.447917,NaN
213,0.434211,NaN,-0.565789,NaN,-0.065789,NaN,NaN,-0.565789,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,0.028443,-0.471557,-0.471557,NaN,1.028443,0.528443,0.028443,1.028443,0.028443,NaN,...,1.028443,NaN,0.028443,0.528443,-0.471557,-0.471557,-0.971557,NaN,0.528443,0.028443
318,0.333333,NaN,-0.666667,NaN,0.333333,-0.166667,-0.166667,-0.166667,-0.166667,NaN,...,NaN,NaN,NaN,-0.666667,-0.166667,NaN,NaN,NaN,0.333333,NaN
477,1.164360,NaN,-0.835640,0.164360,0.164360,0.664360,0.164360,0.664360,0.164360,NaN,...,NaN,0.66436,0.164360,NaN,-0.335640,0.164360,0.164360,0.164360,0.664360,NaN
483,0.876694,-1.123306,0.376694,NaN,1.376694,NaN,NaN,0.376694,-0.623306,0.376694,...,NaN,NaN,-0.623306,NaN,NaN,NaN,-0.123306,0.376694,-0.123306,1.376694

In [26]:
similar_user_movies.drop(user_id_watched.columns, axis=1, inplace=True, errors='ignore')
similar_user_movies

,10 Things I Hate About You (1999),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",50 First Dates (2004),8 Mile (2002),A.I. Artificial Intelligence (2001),...,"Wolf of Wall Street, The (2013)","X-Files: Fight the Future, The (1998)",X-Men (2000),X-Men: First Class (2011),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
68,1.167647,-0.332353,NaN,-1.832353,1.167647,0.667647,1.167647,-0.832353,0.667647,NaN,...,-0.332353,NaN,1.167647,1.167647,-1.332353,1.167647,0.167647,0.667647,1.667647,0.667647
92,0.857143,-0.642857,NaN,NaN,NaN,0.357143,0.357143,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,0.947917,1.447917,0.947917,-2.052083,NaN,-1.552083,-2.052083,0.447917,NaN,NaN,...,NaN,NaN,0.947917,0.447917,0.447917,-0.052083,-0.552083,NaN,1.447917,NaN
213,NaN,NaN,-0.065789,NaN,NaN,-0.565789,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,-0.471557,NaN,1.028443,0.528443,0.028443,1.028443,0.028443,NaN,0.528443,-0.471557,...,1.028443,NaN,0.028443,0.528443,-0.471557,-0.471557,-0.971557,NaN,0.528443,0.028443
318,NaN,NaN,0.333333,-0.166667,-0.166667,-0.166667,-0.166667,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.666667,-0.166667,NaN,NaN,NaN,0.333333,NaN
477,NaN,0.164360,0.164360,0.664360,0.164360,0.664360,0.164360,NaN,NaN,-0.335640,...,NaN,0.66436,0.164360,NaN,-0.335640,0.164360,0.164360,0.164360,0.664360,NaN
483,-1.123306,NaN,1.376694,NaN,NaN,0.376694,-0.623306,0.376694,-2.623306,0.376694,...,NaN,NaN,-0.623306,NaN,NaN,NaN,-0.123306,0.376694,-0.123306,1.376694

In [27]:
item_score = {}

for i in similar_user_movies.columns:
    movie_ratings = similar_user_movies[i]
    total = 0
    count = 0
    for u in similar_users.index:
        if pd.isna(movie_ratings[u]) == False:
            score = similar_users[u] * movie_ratings[u]
            total += score
            count += 1
    item_score[i] = total / count

item_score = pd.DataFrame(item_score.items(), columns=['movie', 'movie_score'])
ranked_item_score = item_score.sort_values(by='movie_score', ascending=False)[:20]
ranked_item_score

                                                 movie  movie_score
408                         Princess Bride, The (1987)     1.497419
233                           Great Escape, The (1963)     1.376694
370                        Natural Born Killers (1994)     1.333333
278                                Interstellar (2014)     1.246157
157                                   Desperado (1995)     1.167647
330                       M*A*S*H (a.k.a. MASH) (1970)     1.164360
559             Wallace & Gromit: A Close Shave (1995)     1.164360
442                                    Scarface (1983)     1.098045
271                                   Inception (2010)     1.086399
239                     Guardians of the Galaxy (2014)     1.048002
548          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)     0.975708
410                                      Psycho (1960)     0.952092
200                                Forrest Gump (1994)     0.919732
564                               Wayne's World (1992)     0.916003
558                                      WALLÂ·E (2008)     0.914095
347                         Million Dollar Baby (2004)     0.912305
465                         Singin' in the Rain (1952)     0.912305
225                           Good Will Hunting (1997)     0.880175
551                                  Unforgiven (1992)     0.876694
243  Harry Potter and the Deathly Hallows: Part 1 (...     0.870807

In [28]:
final = list(ranked_item_score['movie'])
final

['Princess Bride, The (1987)',
 'Great Escape, The (1963)',
 'Natural Born Killers (1994)',
 'Interstellar (2014)',
 'Desperado (1995)',
 'M*A*S*H (a.k.a. MASH) (1970)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Scarface (1983)',
 'Inception (2010)',
 'Guardians of the Galaxy (2014)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Psycho (1960)',
 'Forrest Gump (1994)',
 "Wayne's World (1992)",
 'WALLÂ·E (2008)',
 'Million Dollar Baby (2004)',
 "Singin' in the Rain (1952)",
 'Good Will Hunting (1997)',
 'Unforgiven (1992)',
 'Harry Potter and the Deathly Hallows: Part 1 (2010)']